<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina administrativa - Inicio</title>
    <link rel="stylesheet" href="{{base_url}}/paginas/style.css">
</head>
<body>
    <h1>Pagina de Administracion</h1>
    <h1>Tablas</h1>
    <ul class="Tabla_inicio">
        <li><a href="/admin/Integrante/listar">Integrantes</a></li>
        <li><a href="/admin/Media/listar">Media</a></li>
        <li><a href="/admin/TipoMedio/listar">Tipos Medio</a></li>
    </ul>

    <a class="volver" href="/">Inicio</a>
    
</body>
</html>
