<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Media</title>
    <link rel="stylesheet" href="{{base_url}}/paginas/style.css">
</head>
<body>
    <h1>Editar Media</h1>
    <section>
        {{#if mensaje}}
            <div class="mensaje_error">
                <p>{{mensaje}}</p>
            </div>
        {{/if}}
    </section>
    <section class="form_crear">
        <form action="/admin/Media/update/{{Media.id}}" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Media</legend>
                <input type="hidden" id="idMedia" name="idMedia" value="{{Media.id}}" disabled>

                <label for="matricula">Matrícula</label>
                <input id="matricula" name="matricula" type="text" value="{{Media.matricula}}" disabled>

                <label for="tipo_medio">Tipo de medio</label>
                <input id="tipo_medio" name="tipo_medio" type="text" value="{{Media.tipo_medio}}" disabled>
                
                <label for="url">URL</label>
                <input id="url" name="url" type="text" value="{{Media.url}}" disabled>

                <label for="titulo">Título</label>
                <input id="titulo" name="titulo" type="text" value="{{Media.titulo}}" required>

                <label for="parrafo">Párrafo</label>
                <textarea id="parrafo" name="parrafo" required>{{Media.parrafo}}</textarea>

                <label for="imagen">Seleccionar Nueva Imagen</label>
                <input id="imagen" name="imagen" type="file">

                <label for="video">Video</label>
                <input id="video" name="video" type="text" value="{{Media.video}}">

                <label for="esta_borrado">Estado</label>
                <select id="esta_borrado" name="esta_borrado" required>
                    <option value="0" {{#if (eq Media.esta_borrado "0")}}selected{{/if}}>Activo</option>
                    <option value="1" {{#if (eq Media.esta_borrado "1")}}selected{{/if}}>Inactivo</option>
                </select>
            </fieldset>
            <input type="submit" value="Actualizar Medio">
        </form>
    </section>
    <a class="volver" href="/admin/Media/listar">Volver</a>
</body>
</html>
