<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Tipo de Medio</title>
    <link rel="stylesheet" href="{{base_url}}/paginas/style.css">
</head>
<body>
    <h1>Tipos de Medio</h1>
    <h1>Crear un Tipo de Medio</h1>
    <section>
        {{#if mensaje}}
            <div class="mensaje_error">
                <p>{{mensaje}}</p>
            </div>
        {{/if}}
    </section>
    <section class="form_crear">
        <form action="/admin/TipoMedio/create" method="post">
            <fieldset>
                <legend>Tipo de Medio</legend>
                <label for="tipo">Tipo</label>
                <input id="tipo" name="tipo" type="text" value="{{datosForm.tipo}}" required>
                
                <label for="descripcion">Descripción</label>
                <textarea id="descripcion" name="descripcion" rows="4" required>{{datosForm.descripcion}}</textarea>

                <label for="esta_borrado">Estado</label>
                <select id="esta_borrado" name="esta_borrado">
                    <option value="0" {{#if (eq datosForm.esta_borrado "0")}}selected{{/if}}>Activo</option>
                    <option value="1" {{#if (eq datosForm.esta_borrado "1")}}selected{{/if}}>Inactivo</option>
                </select>
            </fieldset>
            <input type="submit" value="Crear">
        </form>
    </section>
    <a class="volver" href="/admin/TipoMedio/listar">Volver</a>
</body>
</html>